{% extends 'baseBack-Office.html.twig' %}

{% block title %}Edit packs{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="sa4d25">
        <div class="container" style="margin-left: 5%">


    <h1>Create new PacksCat</h1>

    {{ include('packs_cat/_form.html.twig') }}

    <a href="{{ path('packs_cat_index') }}">back to list</a>
        </div>
    </div>
</div>
{% endblock %}
